body {
    background-color: #ECDDD6
}

.fullscreen, .map, .hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map {
    z-index: 100;
    .land {
        fill: #735451
    }
    .area {
        fill: magenta
    }
                 
    .icon {
        fill: #292023
    }
    .object {
        &.outOfRange {
            opacity: .5
        }
        &.hidden {
            display: none
        }
    }
}
.hud {
    z-index: 200
}
                          