doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= pageTitle
    link(rel='stylesheet' href='../libs_client/normalize.css'). 
    link(rel='stylesheet' href='../libs_client/fa.css'). 
    link(rel='stylesheet' href='app.css').
  body
    .fullscreen
      .map#map
      .hud#hud
    // script(type='text/javascript' src='deep-lohm-scalajs-code-jsdeps.js').
    
    script(type='text/javascript' src='../libs_client/d3.js').
    script(type='text/javascript').
      // D3 hack to be global
      if (typeof module === "object") { window.d3 = module.exports; }
      
    script(type='text/javascript' src='../libs_client/topojson.js').
    script(type='text/javascript' src='../libs_client/lodash.js').
    // script(type='text/javascript' src='deep-lohm-scalajs-code-fastopt.js').
    // script(type='text/javascript' src='deep-lohm-scalajs-code-launcher.js').
    // script(type='text/javascript' src='app.js').
    script(type='text/javascript' src='index.js').